<!-- @if(!results){ -->
 <div *ngIf !="results" #resulteddata>
    <p class="center">Please enter some values for calculation</p>
    </div>
<!-- }@else{ -->
 <ng-template else="resulteddata">
   <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Investment Value</th>
                <th>Interest Per Year</th>
                <th>Total Interest</th>
                <th>Invested Capital</th>
            </tr>
        </thead>
        <tbody>
            <!-- @for(result of results; track result.year){ -->
             <div *ngFor="let result of results">
                <tr>
                    <td>{{result.year}}</td>
                    <td>{{result.valueEndOfYear}} | currency</td>
                    <td>{{result.interest}} | currency</td>
                    <td>{{result.totalInterest}} | currency</td>
                    <td>{{result.totalAmountInvested}} | currency</td>
                </tr>
                </div>
            <!-- } -->
        </tbody>
    </table>
    
    </ng-template>
<!-- } -->