/* You can add global styles to this file, and also import other style files */
.container{
    padding: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
}
.form-group{
    margin-bottom:15px;
}
