<!-- <h1>starting the angular course</h1> -->

<!-- <div home>
  attribute selector
</div> -->

<!-- class selector -->
<!-- <p class="home"></p> -->
<!-- <app-warning></app-warning>
<app-normal></app-normal>
<app-alarm></app-alarm> -->
<!-- <app-header></app-header>
<app-recipes></app-recipes>
<app-shoping-list></app-shoping-list> -->
<!-- <app-home [customprop]="data"></app-home> -->
<!-- <app-home (itemDeleted)="customEventHandling($event)" ></app-home> -->

<!-- starting form below-->
<app-header></app-header>
<main>
  <ul id="users">
     <!-- @for(user of users; track user.id){ -->

    <li class="userList" *ngFor="let user of users">
      <app-home [user]="user" (select)="onSelectedUser($event)" />
    </li>
  <!-- } -->
  </ul>
  <app-task *ngIf="selectedUser; else elseblock" [name]="selectedUser!.name"></app-task>
  <ng-template #elseblock>
    <p id="elseblock">select a user to see their task!</p>
  </ng-template>
</main>